body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dce2f0;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #50586c;
  color: #dce2f0;
}

.sidebar {
  width: 20vw;
  height: 100vh;
  background-color: #cdd8f0;
  display: flex;
  flex-direction: column;
}

.create_event {
  padding: 20px;
  text-align: center;
  background-color: #9ba5be;
  border-bottom: 2px solid #9ba5be;
  cursor: pointer;
}

.event_list {
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #9ba5be;
  cursor: pointer;
}

.create_event a {
  font-weight: bold;
  color: #fefefe;
}

a {
  text-decoration: none;
  color: #50586c;
  font-size: large;
}

.logout_btn{
  width: 100px;
  height: 40px;
  margin: 10px; 
  padding: 10px;
  background-color: #4d65a0;
  color: white;
  border: none;
  border-radius: 5px;
}

.logout{
  display: flex;
  width: 20vw;
  margin: auto;
  justify-content: center;
}