*{
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #dce2f0;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #50586c;
  color: #dce2f0;
}

.page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
}

input {
    outline: none;
    margin: 5px;
    padding: 10px;
    width: 350px;
    border-radius: 5px;
    border-color: #4d65a0;
}

.login_btn{
    width: 375px;
    height: 40px;
    margin: 5px;
    padding: 10px;
    background-color: #4d65a0;
    color: white;
    border: none;
    border-radius: 5px;
}

.text{
    text-align: center;
    margin: 5px;
    padding: 10px;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #303a53;
}

span{
    font-weight: bold;
    color: #303a53;
}